$header-color: #000000;
$dark-color: #595963;
$dark-color-darker: #1F2024;
$attention-color: #836a9b;
$attention-color-transparent: rgba(131, 106, 155, 0.1);
$accent-color: #9BD3AE;
$accent-color-light: #A9E1BC;
$accent-color-lightest: rgb(192, 253, 202);
$accent-color-lightest-extra: rgba(193, 253, 212, 0.5);
$text-color-light: #ffffff;
$text-color-dark: #000000;
$dark-transparent-color: rgba(0, 0, 0, 0.15);
$light-transparent-color: rgba(255, 255, 255, 0.5);
$light-very-transparent-color: rgba(255, 255, 255, 0.1);



