$header-color: #000000;
$dark-color: #595963;
$attention-color: #7C719B;
$accent-color: #9BD3AE;
$accent-color-light: #A9E1BC;
$text-color-light: #ffffff;
$text-color-dark: #000000;
$dark-transparent-color: rgba(0, 0, 0, 0.2);


